/*
* all vars go here
* example below
*/

/*
// color vars
$brand-primary: 												#69D2E7;
$brand-secondary: 											#A7DBDB;

// font vars
$font-family-base: 											'Open Sans', sans-serif;
$font-family-headings: 									'Enriqueta', serif;
$font-weight-regular: 									400;
$font-weight-bold: 											700;
$font-color-base: 											#000000;
$font-color-headings: 									#000000;

$font-size-h1: 													3rem;
$font-size-h2: 													2.5rem;
$font-size-h3: 													2rem;
$font-size-h4: 													1.7rem;
$font-size-h5: 													1.4rem;
$font-size-h6: 													1.2rem;
$font-size-base: 												1rem;
$font-size-small: 											0.85rem;

$line-height-base: 											1.2;
$line-height-headings: 									1.2;

// other vars
$transition-speed: 											0.3s;
$gutter:              									30px;
$halfgutter:          									15px;
*/
